<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>sdhc.org</loginFooterText>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>noreply@sdhc.org</emailSenderAddress>
    <emailSenderName>Rental Assistance Wait List Portal</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <logoutUrl>https://prodcopy-sdhcportal.cs33.force.com/waitlist</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>dlrs__LookupRollupSummariesFull</permissionSet>
        <permissionSet>Intern_Permissions</permissionSet>
        <permissionSet>Account_Edit</permissionSet>
        <permissionSet>Housing_First_Admin2</permissionSet>
        <permissionSet>Section_3_Admin2</permissionSet>
        <permissionSet>Global_Community_Permission_Set_RO</permissionSet>
        <permissionSet>RAD_Permission_Set</permissionSet>
        <permissionSet>View_Encrypted_Data</permissionSet>
        <permissionSet>dlrs__LookupRollupSummariesReadOnly</permissionSet>
        <profile>RAD_COMMUNITY_PROFILE</profile>
        <profile>Admin</profile>
    </networkMemberGroups>
    <picassoSite>Rental_Assistance_Wait_List_Portal1</picassoSite>
    <selfRegProfile>rad_community_profile</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Rental_Assistance_Wait_List_Portal</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
    </tabs>
    <urlPathPrefix>waitlist</urlPathPrefix>
    <welcomeTemplate>unfiled$public/Welcome_Email</welcomeTemplate>
</Network>
